/* Pure Color Variables
/* ----------------------------------*/
$red:							hsl(0, 100%, 50%);
$red-orange:			hsl(10, 100%, 50%);
$orange-red:			hsl(20, 100%, 50%);
$orange:					hsl(30, 100%, 50%);
$orange-yellow:		hsl(40, 100%, 50%);
$yellow-orange:		hsl(50, 100%, 50%);
$yellow:					hsl(60, 100%, 50%);
$yellow-lime:			hsl(70, 100%, 50%);
$lime-yellow:			hsl(80, 100%, 50%);
$lime:						hsl(90, 100%, 50%);
$lime-green:			hsl(100, 100%, 50%);
$green-lime:			hsl(110, 100%, 50%);
$green:						hsl(120, 100%, 50%);
$green-mint:			hsl(130, 100%, 50%);
$mint-green:			hsl(140, 100%, 50%);
$mint:						hsl(150, 100%, 50%);
$mint-cyan:				hsl(160, 100%, 50%);
$cyan-mint:				hsl(170, 100%, 50%);
$cyan:						hsl(180, 100%, 50%);
$cyan-azure:			hsl(190, 100%, 50%);
$azure-cyan:			hsl(200, 100%, 50%);
$azure:						hsl(210, 100%, 50%);
$azure-blue:			hsl(220, 100%, 50%);
$blue-azure:			hsl(230, 100%, 50%);
$blue:						hsl(240, 100%, 50%);
$blue-violet:			hsl(250, 100%, 50%);
$violet-blue:			hsl(260, 100%, 50%);
$violet:					hsl(270, 100%, 50%);
$violet-magenta:	hsl(280, 100%, 50%);
$magenta-blue:		hsl(290, 100%, 50%);
$magenta:					hsl(300, 100%, 50%);
$magenta-pink:		hsl(310, 100%, 50%);
$pink-magenta:		hsl(320, 100%, 50%);
$pink:						hsl(330, 100%, 50%);
$pink-red:				hsl(340, 100%, 50%);
$red-pink:				hsl(350, 100%, 50%);